<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
{% if mult %}
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Detected Multiple Faces </h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    {% for i in range(m|int) %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{url_for('send_file',filename=mult[i][:])}}" style="width:292.5px;height:152.25px">
          </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if phon %}
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Detected Mobile Images </h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
      {% for i in range(p|int) %}
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{url_for('send_file_phone',filename=phon[i][:])}}"  style="width:292.5px;height:152.25px">
            </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
</div>
  </body>
</html>
